{% extends 'base.html' %}

{% block header %}

<!--First grid system containing 3 columns-->
<section>
  <div class="row">
    <div class="col">
      <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Event Filter </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
       <a class="dropdown-item" href="#h2-0">Fruits & Vegetables</a>
       <a class="dropdown-item" href="#h2-1">Meats</a>
       <a class="dropdown-item" href="#h2-2">Wine / Drinks</a>
       <a class="dropdown-item" href="#h2-3">Dairy</a>
   </div>
  </div>
  <div class="column-9">
    <h1>Upcoming Events!</h1>
  </div>
  <div class="col">
  </div>
</section>
 
{% endblock %}

{% block content %}   

<!--3 Column main section-->
<section id="main">
  <div class="row">
      <div class="col">
      </div>
      <div class="col-9">
<!--Event title and post information-->
        <div class="row">
          <h2 id="h2-0">Friday's Fresh Fruits Event</h2>
        <div class="row">
        <img src="..\static\Images\person-circle.svg" width="40" height="40" class="d-inline-block align-middle">
          <p>Sarah Tradin</p> <img src="..\static\Images\clock.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
            <p>28th August 2022</p> <img src="..\static\Images\tag.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
              <p>Fruits & Vegetables</p> <img src="..\static\Images\activity.svg" width="40" height="40" class="d-inline-block align-middle" alt=""> <p>Upcoming</p>
        </div>
        </div>
<!--Collapsable description-->
        <section>
          <div id="accordion">
            <div class="card-1">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Event Description
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  Septembers Fresh Fruits event, located in rochdale south, presents over 20 fruit farmers and thier goods. Including family freindly entertainment, music and meals.
                </div>
                <div class="box">
                  <!--Image from Pexels: Mark Stebnicki-->
                  <img id="showcase" src="..\static\Images\Vegies.jpeg" width="330" height="190">
                  <!--Image from Pexels: Kamaji Ogino-->
                  <img id="showcase" src="..\static\Images\fruitshop.jpeg" width="330" height="190">
                  <button  class="btn-lg btn-secondary"><a class="text-white" href={{url_for('main.eventdetails')}}>Click for Event</a></button>
                </div>
              </div>
            </div>
        </section>
      </div>
      <div class="col">
      </div>
  </div>
</section>

 
<!--3 Column main section-->
<section id="main">
  <div class="row">
      <div class="col">
      </div>
      <div class="col-9">
<!--Event title and post information-->
        <div class="row">
          <h2 id="h2-1">Aged Beef Market</h2>
          <div class="row">
        <img src="..\static\Images\person-circle.svg" width="40" height="40" class="d-inline-block align-middle">
          <p>Josh Smith</p> <img src="..\static\Images\clock.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
            <p>20th August 2022</p> <img src="..\static\Images\tag.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
              <p>Meats</p> <img src="..\static\Images\activity.svg" width="40" height="40" class="d-inline-block align-middle" alt=""> <p>Upcoming</p>
        </div>
        </div>
<!--Collapsable description-->
        <section>
          <div id="accordion">
            <div class="card-1">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Event Description
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  Come along to taste some of the finest Aged beef in Australia! On the 18th of October over 30 farmers will dish out thier personalised creations.
                  Book Your tickets through the link below!
                </div>
                <div class="box">
                  <!--Image from Pixels: Los Muertos Crew-->
                  <img id="showcase" src="..\static\Images\Tacos.webp" width="320" height="190">
                  <!--Image from Pixels: Dana Sredojevic-->
                  <img id="showcase" src="..\static\Images\Meat.webp" width="330" height="190">
                  <button  class="btn-lg btn-secondary"><a class="text-white" href={{url_for('main.eventdetails')}}>Click for Event</a></button>
                </div>
              </div>
            </div>
        </section>
      </div>
      <div class="col">
    </div>
  </div>
</section>
<!--3 Column main section-->
<section id="main">
  <div class="row">
      <div class="col">
      </div>
      <div class="col-9">
<!--Event title and post information-->
        <div class="row">
          <h2 id="h2-2">Wendy's Wine Extravaganza</h2>
          <div class="row">
        <img src="..\static\Images\person-circle.svg" width="40" height="40" class="d-inline-block align-middle">
          <p>Wendil Portman</p> <img src="..\static\Images\clock.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
            <p>4th August 2022</p> <img src="..\static\Images\tag.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
              <p>Wine / Drinks</p> <img src="..\static\Images\activity.svg" width="40" height="40" class="d-inline-block align-middle" alt=""> <p>Upcoming</p>
        </div>
        </div>
<!--Collapsable description-->
        <section>
          <div id="accordion">
            <div class="card-1">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Event Description
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  From Red to White Wines, Wendy has it all with her November Wine Extravaganza! This week long market contains wines for everyones tastes!
                With over 45 collections to be viewed, tasted or bought!                </div>
                <div class="box">
                  <!--Image from Pexels: Pixabay-->
                  <img id="showcase" src="..\static\Images\winebarrels.jpeg" width="330" height="190">
                  <!--Image from Pexels: Jep Gambardella-->
                  <img id="showcase" src="..\static\Images\wine.webp" width="330" height="190">
                  <button  class="btn-lg btn-secondary"><a class="text-white" href={{url_for('main.eventdetails')}}>Click for Event</a></button>
                </div>
              </div>
            </div>
        </section>
      </div>
      <div class="col">
      </div>
  </div>
</section>
<!--3 Column main section-->
<section id="main">
  <div class="row">
      <div class="col">
      </div>
      <div class="col-9">
<!--Event title and post information-->
        <div class="row">
          <h2 id="h2-3">Weekly Dairy Market</h2>
          <div class="row">
        <img src="..\static\Images\person-circle.svg" width="40" height="40" class="d-inline-block align-middle">
          <p>Jane Kenal</p> <img src="..\static\Images\clock.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
            <p>9th August 2022</p> <img src="..\static\Images\tag.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
              <p>Dairy</p> <img src="..\static\Images\activity.svg" width="40" height="40" class="d-inline-block align-middle" alt=""> <p>Upcoming</p>
        </div>
        </div>
<!--Collapsable description-->
        <section>
          <div id="accordion">
            <div class="card-1">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Event Description
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  Come along to our weekly dairy based market! Milk, Cheese, ice-creams and more are avalible each saturday. A family-friendly event!              </div>
                <div class="box">
                  <!--Image from Pexels: NastyaSensei-->
                  <img id="showcase" src="..\static\Images\cheese.jpeg" width="330" height="190">
                  <!--Image from Pexels: Maria Orlova-->
                  <img id="showcase" src="..\static\Images\icecream.webp" width="330" height="190">
                  <button  class="btn-lg btn-secondary"><a class="text-white" href="eventdetails.html">Click for Event</a></button>
                </div>
              </div>
            </div>
        </section>
      </div>
      <div class="col">
      </div>
  </div>
</section>
</body>

{% endblock %}