{% extends 'base.html' %}

{% block header %}

      <!--Breadcrumbs for navigation-->
      <nav>
        <ol class="breadcrumb" id="breadc">
              <li class="breadcrumb-item"><a href={{url_for('main.index')}}>Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Event Details</li>
        </ol>
        </nav>
    <div class="dropdown show">
</section> 

{% endblock %}

{% block content %}   

<!--First grid system containing 3 columns-->
<section>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10">
      <div class="row">
      <h2>Event Details - <b>Friday's Fresh Fruits Event</b></h2>
      <img src="..\static\Images\activity.svg" width="40" height="40" class="d-inline-block"> <p>Upcoming</p>
      <img src="..\static\Images\tag.svg" width="40" height="40" class="d-inline-block align-middle">
      <p>Fruits & Vegetables</p>
      <img src="..\static\Images\clock.svg" width="40" height="40" class="d-inline-block align-middle">
            <p>20th August 2022</p>
    </div>
    <!--Event details and image-->
        <section>
          <div id="accordion">
            <div class="card-1">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Event Details:
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="box">
                  <div class="d-flex flex-row bd-highlight">
                  <!--Image from Pexels: Kamaji Ogino-->
                  <img id="showcase" src="..\static\Images\fruitshop.jpeg" width="330" height="190">
                  <p><b>Address:</b> 814 Rochdale Rd, QLD 4123 <br><b>Date:</b> 30th Sept. 2022<br><b>Time:
                  </b> 10am-5pm <br><b>Host: </b>Sarah Trafin <br> <b>Category:</b> Fruits and Vegetables<br><b>Tickets Avaliable:</b> 243 <br><b>Booking Restrictions:</b> Up to 5 Tickets.</p>
                  </div>
                </div>
              </div>
            </div>
        </section>
      <!--Event information-->
      <div class="row">
          <div class="col" id="evendesc">
            <div class="card"  id="evendesc2">
              <div class="card-body">
                <h4><b>Event Overview:</b></h4><br>Septembers Fresh Fruits event, located in rochdale south, presents over 20 fruit farmers and thier goods. Including family freindly entertainment, music and meals.
              </div>
            </div>
          </div>
          <div class="col" id="evendesc">
            <div class="card"  id="evendesc2">
              <div class="card-body">
                <h4><b>Event Entertainment:</b></h4><br>This family freindy event includes a childrens play park, ice cream shop, several ready to eat food stalls and more!
              </div>
            </div>
          </div>
      </div>
      <!--Ticket Booking-->
      <form>
        <div class="row">
          <div class="col" id="evendesc">
            <div class="card"  id="evendesc2">
              <div class="card-body">
                <h4><b>Book Your Ticket/s:</b></h4><br>
                <label for="Event-location">Choose Number of Tickets:</label>
                <div class="input-group-prepend">
                <span class="input-group-text">0</span>
                <input type="text" class="form-control" placeholder="E.g: 2...">
              </div> 
              </div>
              <div class="float-end">
                <button type="button" class="btn btn-secondary btn-lg">Book Now</button>
              </div>
            </div>
          </div>
          <div class="col" id="evendesc">
            <div class="card"  id="evendesc2">
              <div class="card-body">
                <h4><b>Terms & Conditions:</b></h4><br>
                The ticket limit is 5 per booking, each booking will send/contain a recipet which will be emailed to you
                or is stored in 'Booking History'.
              </div>
            </div>
          </div>
      </div>
    </form>
    </div>
  <div class="col">
  </div>
</div>
</section> 
<!--Comments and user comment ability-->
<div class="container mb-5 mt-5">
  <div class="card">
 <div class="row">
   <div class="col-md-12">
     <h3 class="text-center mb-5">
       Event Reviews
     </h3>
     <div class="row">
       <div class="col-md-12">
         <div class="media">
           <img class="mr-3 rounded-circle" src="..\static\Images\profile1.jpeg" height="90px" width="90px"/>
           <div class="media-body">
             <div class="row">
              <div class="col-8 d-flex">
                 <h5>Mary J.</h5>
              </div>
              <div class="col-4">
              <div class="pull-right reply">
             <a><span><i class="fa fa-reply"></i> 02/08/2022</span></a>
              </div>
              </div>
             </div>	Great event! Prices were affordable and venue was pet freindly.                              
           </div>
         </div>
         </div>
         <div class="col-md-12">
          <div class="media">
            <img class="mr-3 rounded-circle" src="..\static\Images\profile2.webp" height="90px" width="90px"/>
            <div class="media-body">
              <div class="row">
               <div class="col-8 d-flex">
                  <h5>Lex S.</h5>
               </div>
               <div class="col-4">
               <div class="pull-right reply">
              <a><span><i class="fa fa-reply"></i> 10/08/2022</span></a>
               </div>
               </div>
              </div>	Highly reccomend this event!                              
            </div>
          </div>
        </div> 
      <!--Will be redone with WTForms-->
      <div class="col-md-12">
         <div class="media">
          <a class="pr-3"><img class="rounded-circle" src="..\static\Images\person-circle.svg" height="90" width="90"/></a>
         <div class="media-body">
          <div class="row border-bottom"> 
            <input class="form-control" aria-describedby="Comment" placeholder="Write a Review">
            <button type="button" class="btn btn-secondary">Submit</button>
          </div>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 </div>
</div>
</body>
 
{% endblock %}